# Module deps, useful for editor intellisense, etc.
ansible-core==2.15.4

# Linting & Formatting
ansible-lint==6.19.0
pylint==2.17.5
autopep8==2.0.4
pre-commit==3.4.0

# Testing
tox==3.28.0

# Utility packages needed for scripts
pyyaml==6.0.1
packaging==23.1

# Module requirements
requests==2.31.0
proxmoxer==2.0.1
